/* General Styles */
html {
    scroll-behavior: smooth;
}

*, 
*:before, 
*:after {
    box-sizing: border-box;
}

body {
    min-width: 320px;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: "PT Serif";
    font-size: 18px;
    color: #ffffff;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.yellow-text {
    color: #FFC700;
}

.big-letters {
    text-transform: uppercase;
}

.hidden {
    display: none;
}


/* Header */
.header {
    display: flex;
    width: 100%;
    background-color: #181818;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transform: translate3d(0, 0, 0);
    box-shadow: 0 3px 10px rgba(0, 0, 0, .3);
}

.header__inner {
    display: flex;
    align-items: center;
    height: 46px;
}

/* Container */
.container {
    min-width: 320px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

.header .container {
    width: 100%;
}

.header__title {
    font-family: 'Yeseva One';
    font-size: 12px;
    font-weight: 400;
    line-height: 13.86px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    color: #FFC700;
    text-align: center;
    padding: 10px;
    opacity: 0;
}

.logo {
    line-height: 0;
}

.logo__link {
    display: inline-block;
    margin: 0 9px;
    opacity: 0;  
}

.logo__link-img {
    width: 48px;
    height: 47px;
}

/* Burger button */
.burger {
    width: 24px;
    height: 16px;
    z-index: 1;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-left: 5px;
}

.burger img {
    width: 100%;
    height: auto;
    display: block;
}


/* Menu hidden */

.menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #181818;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    transition: all 0.3s ease;
    min-height: 522px;
}

.menu__list {
    list-style: none;
    padding: 64px 0;
    margin: 0;
    text-align: center;
}

.menu__item {
    font-family: 'Roboto';
    font-size: 16px;
    text-transform: uppercase;
    line-height: 22px;
    text-align: left;
    font-weight: 200;
    transition: color .1s linear;
    margin-left: 23px;
    margin-bottom: 27px;
}

.menu__item a {
    color: #fff;
    text-decoration: none;
}

.menu__item:last-child {
    margin-bottom: 0;
}

.menu__item a:hover {
    color: #F4CE0C;
}

.burger.active .burger__line {
    background-color: #333;
    transform: rotate(45deg);
}

.burger.active .burger__line:nth-child(2) {
    opacity: 0;
}

.burger.active .burger__line:nth-child(3) {
    transform: rotate(-45deg);
}

/* Close button */
.close {
    border: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
    font-size: 32px;
    color: #FFC700;
    background: none;
    cursor: pointer;
    z-index: 1001;
    transition: transform 0.3sease;
    font-weight: 700;
}


/* Intro */
.intro {
    width: 100%;
    max-width: 2030px;
    min-height: 523px;
    background: url(images/brain-bcg.jpg) no-repeat;
    background-size: cover;
    margin: 0 auto;
}

.intro__inner {
    margin-top: 45px;
    padding: 27px 0 11px;
    text-align: center;
}

.intro__offering {
    font-family: 'PT Serif';
    font-size: 18px;
    line-height: 23.85px;
    text-align: center;
    margin-bottom: 15px;
    letter-spacing: .9px;
}

.intro__test-title {
    font-family: 'Yeseva One', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 34.65px;
    text-transform: uppercase;
    color: #FFC700;
    text-align: center;
    margin: 0 auto;
    padding: 0 20px;
}

.intro__test-title {
    margin-bottom: 150px;
}

.intro__offering-reward {
    margin: 22px auto 15px;
    font-family: 'PT Serif';
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    letter-spacing: .75px;
}

.intro__show-more__link {
    margin: 0 auto;
}

.intro__show-more__link a {
    display: block;
    font-family: 'PT Serif';
    font-size: 8px;
    line-height: 10.6px;
    letter-spacing: 0.4px;
    color:#ffffff;
    text-decoration: none;
    text-align: center;
}

/* Button Begin test */
.btn__begin-test {
    display: block;
    margin: 0 auto;
    width: 189px;
    padding: 13.05px 17.01px 10.25px;
    background-color: #FFC700;
    font-family: 'Merriweather';
    font-size: 14px;
    font-weight: 700;
    line-height: 17.6px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #0D0C11;
    border-radius: 20px;
    border: none;
}


/* Show more arrow */
.circle {
    position: relative;
    margin: 0 auto 3px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ffffff;
}

.arrow {
    position: absolute;
    top: 21%;
    left: 27%;
    display: block;
    margin: 0 auto;
    padding: 0;
    line-height: 0;
}

/* Description */
.description {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 339px;
    background: radial-gradient(circle, 
    rgba(41, 80, 194, 1) 0%,
    rgba(38, 91, 199, 0.1) 96%, 
    rgba(39, 98, 187, 0.1) 100%),
    url(images/blue-sky.png);
    background-repeat: no-repeat;
    background-color: radial-gradient(#2950C2, #265BC7F5 96%, #2762BB00 0%);
    background-position: center;
    background-size: cover;
}

.description__content {
    margin: 0 36px;
    font-family: 'Yeseva One';
    font-size: 18px;
    letter-spacing: 0.9px;
    text-align: center;
}

.description__content::before {
    content: url(images/quotes.png);
    position: absolute;
    top: 10%;
    left: 10%;
    transform: rotate(180deg);
}

.description__content::after {
    content: url(images/quotes.png);
    position: absolute;
    bottom: 10%;
    right: 10%;
}

/* Benefits */
.benefits {
    padding: 40px 0;
    min-height: 511px;
}

.benefits__content {
    font-family: 'PT Serif';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px;
    color: #272727;
    margin-bottom: 35px;
}

.benefits__illustration img {
    display: flex;
    margin: 0 auto;
    width: 232px;
    height: 180px;
}

.benefits .btn__begin-test {
    margin-top: -8px;
}

/* Timing */

.timing {
    position: relative;
    padding-top: 56px;
    padding-bottom: 13px;
    width: 100%;
    min-height: 533px;
    background: url(images/dark-sky.jpg) no-repeat;
    background-color: radial-gradient(#2950C2, #265BC7F5 96%, #2762BB00 0%);
    background-size: cover;
}

.timing::before {
    content: url(images/lightning-right.png);
    position: absolute;
    top: 13%;
    right: 0%;
}

.timing::after {
    content: url(images/lightning-left.png);
    position: absolute;
    bottom: 4%;
    left: 0%;
    transform: rotate(-5deg);
}


.timing__content {
    font-family: 'Merriweather';
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.75px;
    margin-bottom: 26px;
    margin-left: 2px;
    margin-right: 47px;
}

.timing__results {
    position: relative;
    font-family: 'Merriweather';
    font-size: 16px;
    color: #181818;
    line-height: 23px;
    letter-spacing: 0.75px;
    background-color: #F3F3F2CC;
    padding: 29px 15px 31px 14px;
    border-radius: 20px;
    border: none;
    margin-bottom: 33px;
    z-index: 1;
}

.btn__begin-test_transparent {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    margin-bottom: 45px;
    transition: border-color .1s linear, color .1s linear;
}

.btn__begin-test_transparent:hover {
    border-color: #F4CE0C;
    color: #F4CE0C;
}

.timing__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Roboto';
    font-size: 10px;
    letter-spacing: 0.5px;

}

.copyright {
    position: relative;
}

.copyright::before {
    display: flex;
    align-items: center;
    justify-content: center;
    content: "c";
    width: 9px;
    height: 9px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    position: absolute;
    left: -55%;
    top: 11%;
    font-size: 7px;
    background-color: transparent;
}


/* Questions */
.questions {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questions .question {
    display: none;   
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-top: 46px;
    background: linear-gradient(
        rgba(13, 12, 17, 0.73), 
        rgba(13, 12, 17, 0.73)), 
        url(images/dark-sky.jpg) no-repeat;
    background-size: cover;
    padding-top: 46px;
}

.questions .question:not(.hidden) {
    display: flex;
}

.question .container {
    padding: 0;
}

/* Progress part */
.progress {
    width: 260px;
    height: 11px;
    background-color:rgba(79, 79, 79, 0.5);
    border-radius: 10.5px;
    margin: 17px auto 101px;
}

.question-2 .progress {
    margin-bottom: 65px;
}

.question-3 .progress {
    margin-bottom: 42px;
}

.question-4 .progress,
.question-5 .progress {
    margin-bottom: 28px;
}

.question-6 .progress,
.question-8 .progress,
.question-10 .progress {
    margin-bottom: 17px;
}

.question-7 .progress {
    margin-bottom: 37px;
}

.question-9 .progress {
    margin-bottom: 44px;
}

.question-11 .progress {
    margin-bottom: 33px;
}

.progress-bar {
    width: 0%;
    height: 11px;
    border-radius: 10.5px;
    background-color: rgba(59, 222, 124, 1);
    transition: width 0.5s ease;
}

.question-1 .progress-bar {
    width: 6.15%;
}


.question-2 .progress-bar {
    width: 9.6%;
}

.question-3 .progress-bar {
    width: 13.85%;
}

.question-4 .progress-bar {
    width: 29.2%;
}

.question-5 .progress-bar {
    width: 35.76%;
}

.question-6 .progress-bar {
    width: 39.6%;
}

.question-7 .progress-bar {
    width: 49.2%;
}

.question-8 .progress-bar {
    width: 55.7%;
}

.question-9 .progress-bar {
    width: 57.6%;
}

.question-10 .progress-bar {
    width: 65.76%;
}

.question-11 .progress-bar {
    width: 74.6%;
}


/* Question title */

.question__title {
    padding: 0 20px;
    font-family: 'PT serif';
    font-size: 20px;
    line-height: 26.5px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 38px;
}

.question-2 .question__title {
    margin-bottom: 48px;
}

.question-3 .question__title {
    margin-bottom: 45px;
}

.question-4 .question__title {
    padding: 0 15px;
    margin-bottom: 36px;
}

.question-5 .question__title {
    margin-bottom: 28px;
}

.question-6 .question__title,
.question-10 .question__title,
.question-11 .question__title {
    margin-bottom: 20px;
}

.question-7 .question__title {
    margin-bottom: 27px;
    padding: 0 25px;
}

.question-4 .question__title,
.question-5 .question__title,
.question-6 .question__title,
.question-9 .question__title {
    font-size: 19px;
    letter-spacing: 0.95px;
}

.question-8 .question__title {
    padding: 0 10px;
    font-size: 18px;
    line-height: 23.85px;
    margin-bottom: 28px;
}

.question-4 .question__title {
    line-height: 31px;
}
.question-5 .question__title,
.question-6 .question__title{
    line-height: 23px;
}

.question-10 .question__title {
    padding: 0 15px;
    font-size: 16px;
    line-height: 21.2px;
}


/* Question form with radio buttons */ 
.question__form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 152px;
}

.question-2 .question__form {
    margin-bottom: 65px;
}

.question-3 .question__form {
    margin-bottom: 33px;
}

.question-4 .question__form {
    margin-bottom: 29px;
}
.question-7 .question__form  {
    margin-bottom: 30px;
}

.question-7 .question__form  {
    gap: 9px;
}

.question-9 .question__form  {
    gap: 19px;
    margin-bottom: 50px;
}

.question-10 .question__form  {
    margin-bottom: 30px;
}

.question__label {
    display: flex;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    font-family: 'PT Serif';
    font-size: 18px;
    letter-spacing: 0.9px;
    cursor: pointer;
    background-color: rgb(242, 243, 243, 0.2);
    transition: all 0.3s ease;
    border: none;
}

.question-10 .question__label:last-child {
    font-size: 16px;
}

.question__radio {
    display: none;
    margin-right: 39px; 
}

.question__label.choosed {
    background-color: rgba(255, 199, 0, 1);
    color:rgb(13, 12, 17);
}

.custom__label {
    display: flex;
    align-items: center;
    padding: 13px 15px 13px 35px;
}

.question-1 .custom__label {
    padding-top: 14px;
    padding-bottom: 14px;
}

.question-2 .custom__label,
.question-3 .custom__label {
    padding-top: 13.4px;
    padding-bottom: 13.4px;
}

.question-4 .custom__label,
.question-7 .custom__label {
    padding-top: 8.4px;
    padding-bottom: 8.4px;
}

.question-9 .custom__label {
    padding-top: 9px;
    padding-bottom: 9px;
    line-height: 20px;
    height: 78px;
}

.question-10 .custom__label:last-child {
    padding-top: 7px;
    padding-bottom: 12px;
}

.custom__label::before {
    display: inline-block;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: transparent;
    margin-right: 30px;
    flex-shrink: 0;
    transition: background-color 200ms ease-in;
}
.question-9 .custom__label::before {
    margin-right: 15px;
}

.question-10 .custom__label::before {
    margin-right: 28px;
}

.question__radio:checked + .custom__label::before {
    background-color: rgba(41, 80, 194, 1);
    border-color: rgba(39, 39, 39, 1);
}

.question__next-btn {
    display: block;
    margin: 0 auto;
    width: 189px;
    height: 41px;
    box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.25);
    background-color: rgba(218, 218, 218, 1);
    border: none;
    border-radius: 20px;


    font-family: 'Merriweather';
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(142, 142, 142, 1);
    line-height: 17.6px;
    letter-spacing: 1.4px;
    padding: 13.05px 17.01px 10.25px;
    margin-bottom: 25px;
}

.question__next-btn.active-btn {
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 199, 0, 1) 0%, rgba(255, 199, 0, 1) 100%);
    color:rgb(13, 12, 17);
}

.question-4 .question__next-btn {
    margin-bottom: 23px;
}

.question-5 .question__next-btn,
.question-6 .question__next-btn,
.question-7 .question__next-btn {
    margin-bottom: 21px;
}



/* Question choose color */

.colors {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 75px);
    column-gap: 21px;
    row-gap: 24px;
    padding: 0 25px;
    margin-bottom: 34px;
    justify-content: center;
}

.color__var {
    width: 75px;
    height: 75px;
    background-color: rgb(168, 168, 168);
    transition: outline 0.1s linear;
}

.color__var.selected {
    outline: 6px solid rgba(255, 199, 0, 1);
    outline-offset: -3px;
}


.color__var.blue {
    background-color: rgb(0, 0, 169);
}

.color__var.green {
    background-color: rgb(0, 167, 1);
}

.color__var.red {
    background-color: rgba(246, 1, 0, 1);
}

.color__var.yellow {
    background-color: rgba(253, 255, 25, 1);
}

.color__var.brown {
    background-color: rgba(169, 84, 3, 1);
}

.color__var.black {
    background-color: rgba(0, 0, 0, 1);
}

.color__var.marsala {
    background-color: rgba(133, 0, 104, 1);
}

.color__var.sky-blue{
    background-color: rgba(70, 178, 172, 1);
}

/* Question picture */
.question__picture img {
    display: block;
    margin: 0 auto 25px;
}

.question-10 .question__picture img {
    margin-bottom: 20px;
}

.question-11 .question__picture img {
    margin-bottom: 47px;
}

/* Choice buttons */
.button-container {
    display: flex;
    justify-content: space-between;
    padding: 0 35px;
    margin-bottom: 35px;
}

.question-11 .button-container {
    padding: 0 17px;
    margin-bottom: 30px;
}
    
.choice-button {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 41px;
    height: 41px;
    background-color: #fff;
    text-align: center;
    font-family: 'PT Serif';
    font-weight: 400;
    font-size: 20px;
    color: rgba(13, 12, 17, 1);
}

.choice-button.picked{
    outline: 6px solid rgba(255, 199, 0, 1);
    outline-offset: -6px;
}


/* Results */
.results {
    width: 100%;
    height: 100%;
    background: linear-gradient(
        rgba(13, 12, 17, 0.73), 
        rgba(13, 12, 17, 0.73)), 
        url(images/dark-sky.jpg) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.results-processing {
    min-height: 568px;
    width: 100%;
    height: 100%; 
}

.results .progress {
    margin-bottom: 49px;
}

.results .progress-bar {
    width: 100%;
}

.results-processing__title {
    margin: 0 auto 31px;
    padding: 0 42px;
    font-family: 'PT serif';
    font-size: 23px;
    font-weight: 400;
    line-height: 30.47px;
    letter-spacing: 1.15px;
    text-align: center;
}

/* Loader */

.results-processing__loader {
    position: relative;
    width: 65px;
    height: 65px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    transform: rotate(70deg);
}

.results-processing__loader span {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: rotate(calc(var(--i) * 360deg / 11));
}

.results-processing__loader span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background: rgba(59, 222, 124, 1);
    border-radius: 50%;
    transform: scale(0);
    animation: circle-animation 3.3s linear infinite;
    animation-delay: calc(-0.3s * var(--i));
}

@keyframes circle-animation{
    0% {
        transform: scale(0);
    }
    10% {
        transform: scale(1);
    }
    80%, 100% {
        transform: scale(0);
    }
}

.results-processing__comment {
    margin: 28px auto 0;
    padding: 0 22px;
    font-family: 'PT Serif';
    font-size: 14px;
    line-height: 18.55px;
    letter-spacing: 0.7px;
}

/* Ready results */

.ready {
    background: url(images/dark-sky-ready.png) no-repeat;
    background-size: cover;
}

.header__title_ready {
    font-family: 'Yeseva One';
    font-size: 20px;
    font-weight: 400;
    line-height: 23.1px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FFC700;
    text-align: center;
    margin-top: 2px;
    margin-left: 15px;
}

.ready__title {
    font-family: 'PT Serif';
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
    padding-top: 30px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.ready__content {
    margin: 0 auto 10px;
    padding: 0 23px;
    font-family: 'PT Serif';
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 22px;
}

.ready__offer {
    font-family: 'PT Serif';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(59, 222, 124, 1);
    letter-spacing: 1.8px;
    padding: 0 23px;
    font-weight: 700;
    margin-bottom: 12px;
}

.personal-data {
    width: 256px;
    height: 114px;
    margin: 0 auto;
    background-color: rgba(28, 39, 65, 1);
    border-radius: 6px;
    margin-bottom: 2px;
}

.personal-data__content {
    padding: 15px 12px 11px;
    font-family: 'Roboto';
    font-size: 8px;
    line-height: 14px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

.call__content {
    font-family: 'PT Serif';
    font-size: 11px;
    line-height: 30px;
    text-align: center;
    color: rgba(59, 222, 124, 1);
    letter-spacing: 1.8px;
}

.call__content:last-child {
    line-height: 10px;
    margin-bottom: 10px;
}

.call__period {
    font-size: 20px;
    letter-spacing: 2px;
}

.call-btn {
    margin: 0 auto 142px;
    padding: 0;
    display: flex;
    align-items: center;
    width: 290px;
    height: 92px;
    background-color: rgba(235, 27, 0, 1);
    border-radius: 5px;
    border: none;
}

.call-btn__icon {
    width: 29px;
    height: 29px;
    margin-left: 15px;
    margin-right: 18px;
}

.call-btn__text {
    margin-right: 22px; 
    font-weight: 700;
    font-family: 'Roboto';
    font-size: 15px;
    line-height: 17.58px;
    letter-spacing: 0.75px;
    color: #fff;
    text-align: left;
}

.ready__footer {
    padding: 0 13px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 7px;
    line-height: 9px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    max-height: calc(9px * 2);
    overflow: auto;
    white-space: normal; 
}

#api-response-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
    font-family: 'PT Serif';
}

#api-response-container > table {
    width: 95%;
}



/* Adaptive */

/* Large mobile (like iPhone 12) */

@media (min-width: 375px) {
    .intro {
    background: url(images/brain-bcg.jpg) 50% 32% no-repeat;
    background-size: cover;
    }
}

@media (min-width: 480px) {
    .container {
        max-width: 440px;
        padding: 0 20px;
    }

    .header .container {
        max-width: 100%;
    }

    .logo__link {
        margin: 0;
        opacity: 1;
    }

    .header {
        padding: 0;
    }

    .header__inner {
        min-height: 54px;
    }

    .header__title {
        display: none;
    }

    .menu {
        display: block;
        position: static;
        width: auto;
        background-color: transparent;
        box-shadow: none;
        margin-left: auto;
        min-height: 0%;
    }

    .menu__list {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .menu__item {
        margin: 0 20px 0 0;
        text-align: center;
    }

    .menu__item:last-child {
        margin: 0;
    }

    .menu__item a {
        text-decoration: none;
        color: inherit;
        font-size: 15px;
    }

    .intro {
        background: url(images/brain-bcg.jpg) 50% 27% no-repeat;
        background-size: cover;
    }

    .intro__inner {
        margin-top: 54px;
    }

    .burger {
        display: none;
    }

    .intro__test-title {
        margin-bottom: 250px;
    }

    .circle {
        width: 20px;
        height: 20px;
        margin-bottom: 5px;

    }
    .arrow__img {
        width: 10px;
        height: auto;
    }

    .intro__show-more__link a {
        font-size: 11px;
        line-height: 13px;
    }

    .description__content::before {
        top: 20%;
    }

    .description__content::after {
        bottom: 20%;
    }
    
    .benefits__illustration img {
        width: 300px;
        height: auto;
    }

    .timing::after {
        bottom: 20%;
        transform: rotate(-5deg) scale(1.1);
    }

    .timing__content {
        line-height: 23px;
        margin-right: 20px;
        margin-bottom: 30px;
    }

    .timing__results {
        padding: 25px 15px 30px 20px;
        margin-bottom: 35px;
    }

    .btn__begin-test_transparent {
        margin-bottom: 165px;
    }

    .timing__footer {
        margin-top: auto;
    }
    
    .copyright {
        font-size: 14px;
    }

    .copyright::before {
        width: 14px;
        height: 14px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        position: absolute;
        left: -60%;
        top: 10%;
        font-size: 12px;
    }
}


/* Tablets */

@media (min-width: 768px) {
    .container {
        max-width: 600px;
    }

    .header .container {
        max-width: 100%;
    }

    .header {
        position: absolute;
        box-shadow: none;
    }

    .header__inner {
        min-height: 64px;
    }

    .menu {
        margin-left: 95px;
    }

    .menu__item {
        margin: 0 40px 0 0;
    }

    .menu__item a {
        font-size: 18px;
    }
    

    .intro {
        background: url(images/big-brain.png) 46% 55% no-repeat, url(images/dark-sky.jpg) 50% 30% no-repeat;
        background-color: #181818;
        background-size: 50%, 100%;
    }

    .intro__inner {
        padding: 38px 0 16px;
        margin-top: 64px;
    }

    .intro__test-title {
        font-size: 37px;
        line-height: 46.65px;
        margin-bottom: 135px;
        padding: 0 105px
    }

    .intro__offering-reward {
        margin: 133px auto 20px;
        font-size: 18px;
        letter-spacing: 1.5px;
        width: 70%;
    }

    .btn__begin-test {
        font-size: 16px;
        padding: 15.05px 19.01px 12.25px;
        border-radius: 24px;
    }

    .description__content::before {
        top: 20%;
        left: 15%;
    }

    .description__content::after {
        bottom: 25%;
        right: 17%;
    }

    .questions .question {
        padding-top: 64px;
    }

    .question__label {
        width: 70%;
    }

    .progress {
        width: 400px; 
        height: 14px; 
        margin: 20px auto 120px;
        border-radius: 12px;
    }

    .progress-bar {
        height: 14px; 
        border-radius: 12px;
    }

    #api-response-container {
        width: 50%;
    }
}

@media (min-width: 990px) {

    .intro__test-title {
        margin-bottom: 390px;
    }

    .colors {
        grid-template-columns: repeat(3, 125px);

    }

    .color__var {
        width: 125px;
        height: 125px;
    }
    
}

/* Notebook */
@media (min-width: 1024px) {
    .header {
    display: block;
    }

    .header__title {
        display: block;
        opacity: 1;
        font-size: 20px;
        margin-left: 20px;
    }

    .header__inner {
        min-height: 80px;
    }

    .container {
        max-width: 1000px;
        padding: 0 40px;
    }

    .intro {
        background: url(images/big-brain.png) 48% 40% no-repeat, url(images/dark-sky.jpg) 50% 30% no-repeat;
        background-color: #181818;
        background-size: 30%, 100%;
    }

    .intro__inner {
        padding: 38px 0 16px;
        margin-top: 80px;
    }

    .progress { 
        margin: 25px auto 150px;
    }

    .progress-bar {
        height: 16px;
        border-radius: 14px;
    }

    .button-container {
        justify-content: center;
        margin: 0 auto 35px;
    }

    .choice-button {
        margin-right: 20px;
    }

    .choice-button:last-child {
        margin-right: 0;
    }
} 

/* Notebook 1280 */
@media (min-width: 1280px) {
}

/* Notebook 1600 */
@media (min-width: 1600px) {
    .intro__test-title {
        font-size: 54px;
    }
}

/* Notebook 1920x1080 */
@media (min-width: 1920px) {
    .header__inner {
        min-height: 80px;
    }
    
    .menu__item a {
        font-size: 26px;
        font-weight: 400;
    }

    .logo__link-img {
        width: 70px;
        height: auto;
    }

    .intro__inner {
        margin-top: 80px;
    }

    .questions .question {
        padding-top: 80px;
    }

    .question__title {
        font-size: 28px;
    }
}





